/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config: consensus assembly mode (standard)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config for standard consensus assembly mode for doh-jdj0303/VAPER.

    Usage:
      nextflow run doh-jdj0303/VAPER \\
        -profile <docker/singularity/podman/conda> \\
        --input <SAMPLESHEET> \\
        --cons_mode standard \\
        --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Consensus assembly mode: standard'
    config_profile_description = 'Config for standard consensus assembly mode.'

    cons_allele_qual  = 20
    cons_allele_ratio = 0
    cons_allele_depth = 10
    cons_max_depth    = 100

}
