/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: FASTERQDUMP {
        ext.args = '-S'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "*.gz"
        ]
    }
    withName: 'SRA_HUMAN_SCRUBBER' {
        container = 'public.ecr.aws/o8h2f0o1/sra-human-scrubber:2.2.1'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'SEQTK_SAMPLE' {
        fair                = true
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'FASTQC' {
        ext.args            = "--quiet"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" },
            pattern: "*.html"
        ]
    }
    withName: 'FASTP' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/qc" },
            pattern: "*.json"
        ]
    }
    withName: 'REF_CSV2JSONL' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "*.jsonl.gz"
        ]
    }
    withName: 'VALIDATE_REFS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'SHOVILL' {
        ext.args = "--assembler ${params.ref_denovo_assembler} --mincov ${params.ref_denovo_contigcov} --minlen ${params.ref_denovo_contiglen} --gsize ${params.ref_denovo_gsize} --depth ${params.ref_denovo_depth}"
        ext.when = {  }
        errorStrategy = 'ignore'
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/ref-select" },
            pattern: "contigs.fa",
            saveAs: { "${meta.id}.denovo.fa" }

        ]
    }
    withName: 'SOURMASH_SKETCH' {
        ext.args            = "dna --param-string 'scaled=1000,k=21,abund'"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'SOURMASH_GATHER' {
        ext.args            = "--threshold-bp 500 -k 21"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.csv.gz",
            saveAs: { "${meta.id}.all-taxa.csv.gz" }
        ]
    }
    withName: 'SOURMASH_METAGENOME' {
        ext.args            = "--output-format csv_summary krona"
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.csv",
            saveAs: { "${meta.id}.sm-meta.csv" }
        ]
    }
    withName: 'KRONA_KTIMPORTTEXT' {
        ext.args            = ""
        ext.when            = {  }
        errorStrategy = 'ignore'
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.html",
        ]
    }
    withName: 'SELECT_REFS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/${meta.id}/ref-select" },
                pattern: "subset.json.gz",
                saveAs: {"${meta.id}.refs.json.gz"},
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/ref-select" },
                pattern: "genome-fraction.csv",
                saveAs: {"${meta.id}.ref-summary.csv"},
                mode: 'copy'
            ]
        ]
    }
    withName: 'SUMMARIZE_TAXA' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/metagenome" },
            pattern: "*.jpg",
        ]
    }
    withName: 'KITCHEN_SINK' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}/kitchen-sink/" },
                pattern: "*",
                mode: 'copy'
            ],
        ]
    }
    withName: 'FINALIZE_REFS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [
                path: { "${params.outdir}" },
                pattern: "none"
            ],
        ]
    }
    withName: 'BWA_MEM' {
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}" },
                pattern: "none",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.txt",
                mode: 'copy'
            ]
        ]
    }
    withName: 'SPLIT_ALN' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}" },
            pattern: "none"
        ]
    }
    withName: 'EXPORT_FASTQ' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/reads/" },
            pattern: "*.gz"
        ]
    }
    withName: 'IVAR_CONSENSUS' {
        ext.args            = "-n 'N'"
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/assembly/" },
                pattern: "none",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.csv",
                mode: 'copy'
            ]
        ]
    }
    withName: 'BAM_STATS' {
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            [            
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*stats*"
            ],
            [            
                mode: "${params.publish_dir_mode}",
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*coverage*"
            ]
        ]
    }
    withName: 'CONDENSE' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc" },
                pattern: "*.csv",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/assembly" },
                pattern: "*.fa.gz",
                mode: 'copy'
            ]
        ]
    }
    withName: 'EXPORT_ALN' {
        container = 'docker.io/staphb/samtools:1.21'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/align/" },
                pattern: "*.bam*",
                mode: 'copy'
            ],
            [
                path: { "${params.outdir}/${meta.id}/align/" },
                pattern: "*.fa*",
                mode: 'copy'
            ]
        ]
    }
    withName: 'ASSEMBLY_TIDY' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/assembly_tidy/" },
                pattern: "*.tidy.fa.gz",
                mode: 'copy'
            ]
        ]
    }
    withName: 'ASSEMBLY_STATS' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                pattern: { "*.json" },
                mode: 'copy'
            ]
        ]
    }
    withName: 'SUMMARYLINE' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/${meta.id}/summary" },
            pattern: "*.json"
        ]
    }
    withName: 'COMBINE_SUMMARYLINES' {
        container = 'public.ecr.aws/o8h2f0o1/vaper-base:2.0'
        ext.args            = ""
        ext.when            = {  }
        publishDir          = [
            enabled: true,
            mode: "${params.publish_dir_mode}",
            path: { "${params.outdir}/" },
            pattern: "*summary*"        
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
